body {
  overflow: hidden;
}

.App {
  height: 100vh;
}
.timeline-editor-container {
  display: flex;
}

.timeline-editor-container .timeline-list {
  width: 20%;
  margin-top: 42px;
  height: 258px;
  flex: 0 1 auto;
  overflow: overlay;
  padding: 0 10px;
}
.timeline-editor-container .timeline-list-item {
  height: 32px;
  padding: 2px;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeline-editor-container .timeline-list-item .text {
  height: 28px;
  width: 100%;
  padding-left: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.timeline-editor-container .timeline-editor {
  height: 300px;
  flex: 1 1 auto;
}

.timeline-editor-container .timeline-editor-action {
  height: 28px !important;
  top: 50%;
  transform: translateY(-50%);
}
.element-controls {
  all: unset;
}

.initial-properties-input-box {
  margin: 10px;
}

#svg-wrapper {
  height: 400px;
  user-select: none;
  flex-grow: 1;
}

.selected-el {
  outline: 3px dashed #6e6ed6;
}

#timeline-piece {
  background-color: #f8f8f8;
}

.timeline-player {
  display: flex;
  justify-content: space-between;
  background-color: #ededed;
}
